version: '3.8'

services:
  app:
    build: .
    container_name: moovie-app
    ports:
      - "5007:5007"
    volumes:
      - ./.env:/app/.env
    environment:
      - APP_ENV=production
    restart: unless-stopped
    networks:
      - postgres_default
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:5007/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  postgres_default:
    external: true