version: '3.8'

services:
  app:
    build: .
    container_name: moovie
    ports:
      - "5005:5005"
    volumes:
      - ./.env:/app/.env
    environment:
      - APP_ENV=production
    restart: unless-stopped
